/ {
    aliases {
        sw0 = &button0;
        sw1 = &button1;
        sw2 = &button2;
        sw3 = &button3;
        sw4 = &button4;
        sw5 = &button5;
        sw6 = &button6;
        led0 = &led1;
        lora0 = &lora_semtech_sx1262mb2das;
    };

    buttons {
        compatible = "gpio-keys";

        button4: button_4 {
            label = "Button 4";
            gpios = <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };

        button5: button_5 {
            label = "Button 5";
            gpios = <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };

        button6: button_6 {
            label = "Button 6";
            gpios = <&gpio0 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
    };

leds {
		compatible = "gpio-leds";

		led1: led_1 {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			label = "LED1 Status";
		};
	};

	enables {
		compatible = "gpio-leds";

		en3v3: en3v3 {
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
			label = "EN 3V3";
		};

		en1v8: en1v8 {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
			label = "EN 1V8";
		};

		en3v3a: en3v3a {
			gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
			label = "EN 3V3A";
		};

		en3v6: en3v6 {
			gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
			label = "EN 3V6";
		};
	};
};

&uart0 {	
	status="disabled";
};	

&uart1 {	
	status="disabled";
};	
	
&spi1 {	
	status="disabled";
};	
	
&qspi {	
	status="disabled";
};	
	
&pwm0 {	
	status="disabled";
};	

&arduino_spi {
	status = "okay";

	/* CS pins for each SPI device: [0]=LoRa, [1]=EPD, [2]=NFC */
	cs-gpios = <&arduino_header 13 GPIO_ACTIVE_LOW>; /* LoRa CS - P1.08 */
	       
	
	// lora_semtech_sx1262mb2das: sx1262@0 {
	// 	compatible = "semtech,sx1262";
	// 	reg = <0>;
	// 	spi-max-frequency = <1000000>;
	// 	label = "SX1262";
	// 	reset-gpios = <&arduino_header 0 GPIO_ACTIVE_LOW>;
	// 	busy-gpios = <&arduino_header 9 GPIO_ACTIVE_HIGH>;
	// 	antenna-enable-gpios = <&arduino_header 14 GPIO_ACTIVE_HIGH>;
	// 	dio1-gpios = <&arduino_header 11 GPIO_ACTIVE_HIGH>;
	// 	dio2-tx-enable;
	// 	tcxo-power-startup-delay-ms = <5>;
	// };

		lora_semtech_sx1262mb2das: sx1262@0 {
		compatible = "semtech,sx1262";
		reg = <0>;
		spi-max-frequency = <1000000>;
		label = "SX1262";
		reset-gpios = <&arduino_header 0 GPIO_ACTIVE_LOW>; // 0,3
		busy-gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>; // 0,31
		antenna-enable-gpios = <&arduino_header 14 GPIO_ACTIVE_HIGH>; // 1,10 
		dio1-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>; //  0,19
		dio2-tx-enable;
		tcxo-power-startup-delay-ms = <5>;
	};

};
