/* Arduino SPI configuration for EPD and NFC sharing */
&arduino_spi {
	status = "okay";
	cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>; /* EPD CS */

	
	ssd1683: ssd1683@0 {
		compatible = "solomon,ssd1683";
		reg = <0>;
		spi-max-frequency = <400000>;
		/* Display dimensions */
		width = <400>;
		height = <300>;
		/* Control GPIOs */
		dc-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
		busy-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;

	};
	
	/* PN5180 NFC device on arduino_spi */
	pn5180: pn5180@1 {
		compatible = "nxp,pn5180";
		reg = <1>;
		spi-max-frequency = <400000>;
		irq-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		rst-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		busy-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
		nss-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
		timeout-ms = <5000>;
	};
};



// By default uart1 will occupy P1.01 and P1.02. In order to make these pins available, disable uart1
&uart1 {
	status="disabled";
};

&uart0 {
	status="disabled";
};

&spi1 {
	status="disabled";
};

&pwm0 {
	status="disabled";
};

/ {
	aliases {
		sw0 = &button0;
		sw1 = &button1;
		sw2 = &button2;
		sw3 = &button3;
		sw4 = &button4;
		sw5 = &button5;
		sw6 = &button6;
		led0 = &led1;
	};

    buttons {
        compatible = "gpio-keys";

        button4: button_4 {
            label = "Button 4";
            gpios = <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };

        button5: button_5 {
            label = "Button 5";
            gpios = <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };

        button6: button_6 {
            label = "Button 6";
            gpios = <&gpio0 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
    };

	leds {
		compatible = "gpio-leds";

		led1: led_1 {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			label = "LED1 Status";
		};
	};

	enables {
		compatible = "gpio-leds";

		en3v3: en3v3 {
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
			label = "EN 3V3";
		};

		en1v8: en1v8 {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
			label = "EN 1V8";
		};

		en3v3a: en3v3a {
			gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
			label = "EN 3V3A";
		};

		en3v6: en3v6 {
			gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
			label = "EN 3V6";
		};
	};
};

/ {
	chosen {
		zephyr,display = &ssd1683;
	};
};