&i2c0 {	status = "disabled";};
&spi0 {	status = "disabled";};
&i2c1 {	status = "disabled";};
	
&spi1 {
    compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;

/* EPD SSD1683 display node */
	epd_ssd1683: custom-epd1683@0 {
		compatible = "custom,epd1683";
		reg = <0>;
		spi-max-frequency = <4000000>;
		reset-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
		dc-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
		busy-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		width = <400>;
		height = <300>;
	};
};

&pinctrl {
	spi1_default: spi1_default {
		group1 {
				psels = <NRF_PSEL(SPIM_SCK, 0, 28)>,
						<NRF_PSEL(SPIM_MOSI, 0, 29)>,
						<NRF_PSEL(SPIM_MISO, 0, 31)>;
		};
	};

	spi1_sleep: spi1_sleep {
		group1 {
				psels = <NRF_PSEL(SPIM_SCK, 0, 28)>,
						<NRF_PSEL(SPIM_MOSI, 0, 29)>,
						<NRF_PSEL(SPIM_MISO, 0, 31)>;
				low-power-enable;
		};
	};
};