/ {
	chosen {
		zephyr,display = &ssd1683;
	};
};

&arduino_spi {
	/* CS pins: [0]=LoRa, [1]=EPD (PN5180 uses dedicated nss-gpios) */
	cs-gpios = <&arduino_header 13 GPIO_ACTIVE_LOW>, /* LoRa CS - P1.08 */
	           <&gpio1 12 GPIO_ACTIVE_LOW>;           /* EPD CS - P1.12 */

	ssd1683: ssd1683@1 {
		compatible = "solomon,ssd1683";
		reg = <1>;
		spi-max-frequency = <7000000>;
		width = <400>;
		height = <300>;
		dc-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
		busy-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
	};

	pn5180: pn5180@2 {
		compatible = "nxp,pn5180";
		reg = <2>;
		spi-max-frequency = <8000000>;
		irq-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		rst-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		busy-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
		nss-gpios = <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		timeout-ms = <1000>;
	};
};
