/ {
    enables {
        compatible = "gpio-leds";

        en3v3: en3v3 {
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
            label = "EN 3V3";
        };

        en1v8: en1v8 {
            gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
            label = "EN 1V8";
        };

        en3v3a: en3v3a {
            gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
            label = "EN 3V3A";
        };

        en3v6: en3v6 {
            gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
            label = "EN 3V6";
        };

    };

    aliases {
        sw0 = &button0;
        sw1 = &button1;
        sw2 = &button2;
        sw3 = &button3;
        sw4 = &button4;
        sw5 = &button5;
        sw6 = &button6;
        led0 = &led1;
        lora0 = &lora_semtech_sx1262mb2das;
    };

    buttons {
        compatible = "gpio-keys";

        button4: button_4 {
            label = "Button 4";
            gpios = <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };

        button5: button_5 {
            label = "Button 5";
            gpios = <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };

        button6: button_6 {
            label = "Button 6";
            gpios = <&gpio0 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
    };

leds {
		compatible = "gpio-leds";

		led1: led_1 {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			label = "LED1 Status";
		};
	};
};

/* ---------- PINCTRL configuration ---------- */
&pinctrl {
    uart0_default: uart0_default {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 23)>,
                    <NRF_PSEL(UART_RTS, 0, 5)>;
        };
        group2 {
            psels = <NRF_PSEL(UART_RX, 0, 20)>,
                    <NRF_PSEL(UART_CTS, 0, 7)>;
            bias-pull-up;
        };
    };

    uart0_sleep: uart0_sleep {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 23)>,
                    <NRF_PSEL(UART_RX, 0, 20)>,
                    <NRF_PSEL(UART_RTS, 0, 5)>,
                    <NRF_PSEL(UART_CTS, 0, 7)>;
            low-power-enable;
        };
    };
};

/* ---------- UART configuration ---------- */
&uart0 {
    compatible = "nordic,nrf-uarte";
    status = "okay";
    current-speed = <115200>;

    /* Link pinctrl groups */
    pinctrl-0 = <&uart0_default>;
    pinctrl-1 = <&uart0_sleep>;
    pinctrl-names = "default", "sleep";

    /* Optional: disable HW flow control if not used */
    // hw-flow-control;
};	
	
&spi1 {	
	status="disabled";
};	
	
&qspi {	
	status="disabled";
};	

/* ================= SD card on SPI3 (sdhc-spi-slot) =================
 * Pins (nRF52840 DK):
 * - SCK  P1.15
 * - MOSI P1.13
 * - MISO P1.14
 * - CS   P0.22 (free GPIO)
 */

&pwm0 {	
	status="disabled";
};	

&arduino_spi {
	status = "okay";

	/* CS pins for each SPI device: [0]=LoRa, [1]=EPD, [2]=SD */
	cs-gpios = <&arduino_header 13 GPIO_ACTIVE_LOW>,  /* LoRa CS - P1.08 */
	           <&gpio1 12 GPIO_ACTIVE_LOW>,           /* EPD CS - P1.12 */
	           <&gpio0 22 GPIO_ACTIVE_LOW>;          /* SD CS  - P0.22 */

	       
	// SX1262 SHIELD
	// lora_semtech_sx1262mb2das: sx1262@0 {
	// 	compatible = "semtech,sx1262";
	// 	reg = <0>;
	// 	spi-max-frequency = <7000000>;
	// 	label = "SX1262";
	// 	reset-gpios = <&arduino_header 0 GPIO_ACTIVE_LOW>;
	// 	busy-gpios = <&arduino_header 9 GPIO_ACTIVE_HIGH>;
	// 	antenna-enable-gpios = <&arduino_header 14 GPIO_ACTIVE_HIGH>;
	// 	dio1-gpios = <&arduino_header 11 GPIO_ACTIVE_HIGH>;
	// 	dio2-tx-enable;
	// 	tcxo-power-startup-delay-ms = <5>;
	// };

	// LR62E
	lora_semtech_sx1262mb2das: sx1262@0 {
	compatible = "semtech,sx1262";
	reg = <0>;
	spi-max-frequency = <7000000>;
	label = "SX1262";
	reset-gpios = <&arduino_header 0 GPIO_ACTIVE_LOW>; // 0,3
	busy-gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>; // 0,31
	antenna-enable-gpios = <&arduino_header 14 GPIO_ACTIVE_HIGH>; // 1,10 
	dio1-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>; //  0,19
	dio2-tx-enable;
	tcxo-power-startup-delay-ms = <5>;

	// SEEED WIO
	// lora_semtech_sx1262mb2das: sx1262@0 {
    // compatible = "semtech,sx1262";
    // reg = <0>;
    // /* SPI */
    // spi-max-frequency = <8000000>;
    // label = "SX1262";
    // /* Control signals */
    // reset-gpios = <&arduino_header 0 GPIO_ACTIVE_LOW>; /* P0.03 */
    // busy-gpios  = <&gpio0 31 GPIO_ACTIVE_HIGH>;        /* P0.31 */
    // dio1-gpios  = <&gpio0 19 GPIO_ACTIVE_HIGH>;        /* P0.19 */
    // /* TCXO (Wio-SX1262 uses DIO3 @ 1.8V) */
    // dio3-tcxo-voltage = <0x02>;
    // tcxo-power-startup-delay-ms = <5>;
    // /* RF switch handled internally via DIO2 */
    // dio2-tx-enable;
    // status = "okay";

	};
    
	ssd1683: ssd1683@1 {
		compatible = "solomon,ssd1683";
		reg = <1>;
		spi-max-frequency = <400000>;
		/* Display dimensions */
		width = <400>;
		height = <300>;
		/* Control GPIOs */
		dc-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
		busy-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;

	};
	/* PN5180 (manual CS via `nss-gpios`) */

	/* SD card on Arduino SPI (shared SCK/MOSI/MISO). */
	sdhc0: sdhc@2 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <2>;
		status = "okay";
		mmc {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
		};
		spi-max-frequency = <4000000>;
	};

	pn5180: pn5180@3 {
 		compatible = "nxp,pn5180";
		reg = <3>;
		spi-max-frequency = <400000>;
		irq-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		rst-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		busy-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
		nss-gpios = <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)	>;
		timeout-ms = <1000>;
	};

};

/ {
	chosen {
		zephyr,display = &ssd1683;
	};
};


        

/*

NOTES: all gpios are connected to gpio 21. 
and Active Low			Detect on falling edge

when detected, wake system up

*/