
&arduino_spi {
	status = "okay";
	pn5180: pn5180@0 {
 		compatible = "nxp,pn5180";
		reg = <0>;
		spi-max-frequency = <400000>;
		irq-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		rst-gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		busy-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
		nss-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
		timeout-ms = <5000>;
	};
};

&uart0 {	
	status="disabled";
};	

&uart1 {	
	status="disabled";
};	
	

/* Wake-up GPIO configuration */
/ {
	aliases {
		wakeup = &button6;
	};
	
	buttons {
		compatible = "gpio-keys";

        button6: button_6 {
            label = "Button 6";
            gpios = <&gpio0 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
	};
};