
&arduino_spi {
	status = "okay";
	pn5180: pn5180@0 {
 		compatible = "nxp,pn5180";
		reg = <0>;
		spi-max-frequency = <400000>;
		irq-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		rst-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		busy-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
		nss-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
		timeout-ms = <5000>;
	};
};

&uart0 {	
	status="disabled";
};	

&uart1 {	
	status="disabled";
};	
	

&spi1 {	
	status="disabled";
};	
	

/* Wake-up GPIO configuration */
/ {
	aliases {
		wakeup = &button5;
	};
	
	buttons {
		compatible = "gpio-keys";

        button5: button_5 {
            label = "Button 5";
            gpios = <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };

	};

	enables {
		compatible = "gpio-leds";

		en3v3: en3v3 {
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
			label = "EN 3V3";
		};

		en1v8: en1v8 {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
			label = "EN 1V8";
		};

		en3v3a: en3v3a {
			gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
			label = "EN 3V3A";
		};

		en3v6: en3v6 {
			gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
			label = "EN 3V6";
		};

		lrreset: lrreset {
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
			label = "LR Reset";
		};

		lrcs: lrcs {
			gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
			label = "LR CS";
		};
	};
};